@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-radial-gradient {
    background: radial-gradient(
      ellipse at right bottom,
      rgba(20, 90, 245, 0.7),
      #080808 35%
    );
  }

  .setup-radial-gradient {
    background: radial-gradient(
      ellipse at left bottom,
      rgba(20, 110, 245, 0.7),
      #080808 35%
    )
  }
  
  .template-left-radial-gradient {
    background: radial-gradient(
      ellipse at left top,
      rgba(20, 110, 245, 0.7),
      #080808 35%
    );
  }

  .setup-right-radial-gradient {
    background: radial-gradient(
      ellipse at right top,
      rgba(20, 110, 245, 0.7),
      #080808 35%
    );
  }

  .whychooseus-radial-gradient {
    background: radial-gradient(
      ellipse at right bottom,
      #dcdee2 ,
      rgba(20, 110, 245, 0.6),
      #080808 45%
    );
  }
  
  .Digital-radial-gradient {
    background: radial-gradient(
      ellipse at left center,
      rgba(9, 80, 187, 0.6)
      #080808 40%
    );
  }

  .pricing-section{
    background: radial-gradient(
      ellipse at left center,
   rgba(20, 110, 245, 0.7),
   #080808 40%

    )
  }
  
  .create-website {
    background: radial-gradient(
      ellipse at bottom,
      #474747  ,
      rgba(17, 61, 128, 0.6),
      #080808 60%
    );
  }

  .Digital-website {
    background: radial-gradient(
      ellipse at  center,
      #474747  ,
      rgba(17, 61, 128, 0.6),
      #080808 60%
    );
  }

  .nav-gradient{
    background: radial-gradient(
      ellipse at bottom,
      rgba(8, 30, 63, 0.6),
      #080808 60%
    )
  }

